<div id="box">
  <div id="header">
    <div id="left">
      <h3>Chat App</h3>
    </div>
    <div id="right">
      <input type="text" [(ngModel)]="roomId" placeholder="Enter room id ..." />
      <input
        type="text"
        [(ngModel)]="userName"
        placeholder="Enter your name ..."
      />
      <button mat-raised-button color="primary" (click)="joinRoom(roomId)">Join Room</button>
    </div>
  </div>

  <div id="main">
    <div id="box_chat" *ngFor="let msg of messages" [ngClass]="{'myMes': msg.from === userName, 'friendMes': msg.from !== userName}">
      <div id="message">
        <div id="from">
          <p>{{ msg.from }}</p>
        </div>
        <div id="mes">
          <p>{{ msg.msg }}</p>
        </div> 
      </div>
    </div>
  </div>
  

  <div id="sendBar">
    <input
      type="text"
      [(ngModel)]="newMassage"
      placeholder="Enter your message ..."
    />
    <button (click)="sendMessage(newMassage)">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
